# 压缩包（防止超大文件推送失败）
*.zip
*.ZIP

# 编译产物与二进制文件
*.bin
*.sqsh4
*.a
*.so
CMakeFiles/
build/
output/
*.dir/

# 临时缓存文件
*.cache
*.depend
*.o
upgrade/
# VSCode 个人IDE配置
.vscode/

# 固件升级包（所有AV100开头的镜像文件）
AV100-*

# 编译产物目录
ipc_camera
net_indoor

# 指纹开发手册（二进制文件，不纳入版本管理）
doc/MZ-V3.0.1开发手册.pdf
